/* styles.css */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.content-container {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1; /* Allow main content to grow and take up remaining space */
}

body {
  font-family: 'Montserrat', sans-serif;
}
